Service References/JobRecruitmentService/JobRecruitmentWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SaveApplicantPicture">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="byteArray" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="applicantId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="urlSender" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveApplicantPictureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveApplicantPictureResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SaveApplicantPictureSoapIn">
    <wsdl:part name="parameters" element="tns:SaveApplicantPicture" />
  </wsdl:message>
  <wsdl:message name="SaveApplicantPictureSoapOut">
    <wsdl:part name="parameters" element="tns:SaveApplicantPictureResponse" />
  </wsdl:message>
  <wsdl:portType name="JobRecruitmentWebServiceSoap">
    <wsdl:operation name="SaveApplicantPicture">
      <wsdl:input message="tns:SaveApplicantPictureSoapIn" />
      <wsdl:output message="tns:SaveApplicantPictureSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JobRecruitmentWebServiceSoap" type="tns:JobRecruitmentWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveApplicantPicture">
      <soap:operation soapAction="http://tempuri.org/SaveApplicantPicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="JobRecruitmentWebServiceSoap12" type="tns:JobRecruitmentWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveApplicantPicture">
      <soap12:operation soapAction="http://tempuri.org/SaveApplicantPicture" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JobRecruitmentWebService">
    <wsdl:port name="JobRecruitmentWebServiceSoap" binding="tns:JobRecruitmentWebServiceSoap">
      <soap:address location="http://5bmdms1.freeway-insurance.com/JobRecruitment/WebServices/JobRecruitmentWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="JobRecruitmentWebServiceSoap12" binding="tns:JobRecruitmentWebServiceSoap12">
      <soap12:address location="http://5bmdms1.freeway-insurance.com/JobRecruitment/WebServices/JobRecruitmentWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>